
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <div>
            <h3>Log In Page</h3>
            <form action="/Login/GetLoginData" method="post">
                User Name: <input type="text" name="username" /><br />
                Password: <input type="text" name="password" /><br />
                <input type="submit" name="Login" /><br />
            </form>
        </div>
    </div>
</body>
</html>
